{
    app_secrets => ,# an reference on an array with randomly generated secrets as strings, e.g. ['xxxxx', 'yyyyy', 'zzzzz']

    jwt_email_verify_secret => ,# a randomly generated secret as a string

    postgresql_host     => ,# Postgresql host, e.g. 'localhost'
    postgresql_port     => ,# Postgresql port, e.g. 5432
    postgresql_user     => ,# Postgresql user, e.g. 'devpg'
    postgresql_password => ,# Postgresql password, e.g. 'xxxxx'
    postgresql_dbname   => ,# Postgresql database name, e.g. 'blank'

    # email sending
    email_api_host      => ,# Email sending API host, e.g. 'https://api.provider.co/v1'
    email_api_header    => ,# Email sending API header for authentification, e.g. 'x-lettermint-token'
    email_api_token     => ,# Email sending API token, e.g. 'xxxxx'
    email_from          => ,# Email address to use as the From address, e.g. 'blank@blank.org'

    # secure password storage
    argon2_saltsize     => ,# Argon2 salt size in bytes, e.g. 16
    # see Blank::Model::Accounts::argon2_params for the list of parameters for Argon2 key derivation
    argon2_t_cost       => ,# Argon2 t cost, e.g. 48
    argon2_m_factor     => ,# Argon2 m factor, e.g. '20M'
    argon2_parallelism  => ,# Argon2 parallelism, e.g. 1
    argon2_tag_size     => # Argon2 tag size, e.g. 32
}
